body {
    margin: 0;
    padding: 0;
}

/* Counter */
div.counter {
    background-color: #444444;
    border: 1px solid #000000;
    color: #ffffff;
    font-family: Monospaced, monospace;
    font-size: 20px;
    height: 88px;
    margin: 10px;
    padding-left: 5px;
    text-align: left;
    width: 200px;
}

div.counter span {
    display: block;
}

/* /Counter */

/* Modal */
div.modal-dialog {
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
}

div.modal-body p {
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 2px;
}

div.modal-body .bootstrap-table .search {
    float: left !important;
}

/* /Modal */
